RewriteEngine On
RewriteBase /web-development-cdu/
RewriteRule ^index\\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /web-development-cdu/index.php [L]